@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body{
  background-color: #242121;
  height: 100vh;
  width: 100vw;
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.parent{
  padding: 30px;
}

.card{
  height: 320px;
  width: 270px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 3px;
  border: 0.1px solid rgb(207, 196, 196);

}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 11px ;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}



h3{
  font-size: 17px;
  font-weight: 500;
}

h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

h2{
  font-size: 20px;
}

.tag{
  display: flex;
  gap: 5px
}

.tag h4{
  font-size: 10px;
  background-color: #dadada;
  padding: 2px 5px;
  font-weight: 400;
  border-radius: 5px;

}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom h3{
  font-weight : 600;
}

p{
  font-size: 10px;
}

.center{
  margin-bottom: 20px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
}