@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
}
#root {
  background-color: black;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  font-family: poppins;
  padding: 20px;
}

.card{
  background-color: rgba(255, 255, 255, 0.163);
  border: 2px solid aliceblue;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card img{
  height: 45%;
  width: 60%;
  border-radius: 50%;
  object-fit: cover;
}

.card button{
  margin-top: 10px;
  background-color: #fff;
  width: 50%;
  border: none;
}