@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  background-color: black;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  font-family: poppins;
  gap: 20px;
}

.card{
  background-color: rgb(145, 5, 66);
  padding: 5px;
  border-radius: 50px;
  margin-bottom: 10px;
}

