*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body{

  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

form{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

input{
  background-color: #5d5a5a;
  height: 50px;
  border: none;
  font-size: large;
  padding: 10px;
}