@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: rgb(37, 34, 34);
  
}


#root{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.num{
  width: 420px;
  background-color: #bcda79;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.button{
  width: 420px;
  display: flex;
  justify-content: space-around;
}

button{
  background-color: #bcda79;
  border: none;
  padding: 2%;
  border-radius: 10px;
}